html {
   
}

body {
    /*min-height: 2776px;*/
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #000000;
    font-family: "PT Sans", "Trebuchet MS", Helvetica, sans-serif;
    
    margin: 0;
}

.common-container {
    background: #ffffff url("../img/sedona-index-1200.jpg") no-repeat 50% 0;
    background-size: 1280px auto;
    width: 1200px;
    margin: auto;
}

.main-header {
    text-transform: uppercase;
}

.container-background {
    position: relative;
    background: #7ec0ee url("../img/picture.jpg") no-repeat 50%;
    min-height: 765px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.main-manu {
    background-color: #ffffff;
}

ul {
    padding: 0;
    font-size: 0;
}

.main-menu-button {
    display: inline-block;
    width: 20%;
    height: 56px;
    font-size: 14px;
    line-height: 1.9;
}

.main-menu-button a {
    display: block;
    text-align: center;
    margin-top: 14px;
    color: #000000;
    text-decoration: none;
    font-weight: 700;
}

.main-menu-button:nth-child(-n+2){
    float: left;
}

.main-menu-button:nth-child(n+3){
    float: right;
}

.logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.form {
    position: relative;
    top: 443px;
}

.title {
    position: relative;
    top: 280px;
    color: black;
    text-align: center;
}

.title-text {
    margin-bottom: 30px;
}

.five-reasons {
    font-size: 14px;
    line-height: 1.9;
}

.container {
    text-transform: uppercase;
}

.cause-blue1 {
    float: left;
    width: 33.33%;
    min-height: 256px;
    font-size: 14px;
}

.illustration1 {
    float: left;
    height: 256px;
}

.cause-iteams {
    font-size: 0;
}

.square {
    display: inline-block;
    width: 33.33%;
    min-height: 330px;  
}

.illustration2 {
    float: left;
    width: 66%;
}

.cause-blue2 {
    float: right;
    min-height: 256px;
}

.three-four-five {
    font-size: 0;
}

.iteam {
    display: inline-block;
    width: 33.33%;
    min-height: 255px; 
}

.search-for-hotels {
    font-size: 0;
    height: 765px;
}

.text {
    /*font-size: 14px;*/
    min-height: 205px;
}

.button {
    min-height: 85px;
}

.form-search {
    position: relative;
    top: -470px;
    width: 566px;
    min-height: 395px;
    margin-left: auto;
    margin-right: auto;
    background-color: beige;
}

.filter {
    min-height: 215px;
    background: url(../img/filter.jpg) no-repeat 50%;
}

.infrastructure {
    float: left;
    width: 240px;
    min-height: 215px;
    margin-left: 72px;
}

.housing {
    float: left;
    width: 240px;
    min-height: 215px;
}

.cost {
    float: right;
    width: 328px;
    min-height: 130px;
    margin-right: 72px;
    margin-left: 200px;
}

.show {
    float: right;
    width: 328px;
    min-height: 85px;
    margin-right: 72px;
   
}

.overall {
    min-height: 85px;
}

.iteam-hotel {
    min-height: 150px;
    font-size: 0;
}

.all-results {
    float: left;
    width: 160px;
    min-height: 85px;
    margin-left: 72px;
    margin-top: 0;
    margin-bottom: 0;
}

.sorting {
    float: left;
    width: 448px;
    min-height: 85px;
}

.arrow-up {
    float: right;
    width: 18px;
    min-height: 85px;
}

.arrow-down {
    float: right;
    width: 18px;
    min-height: 85px;
    margin-right: 72px;
}

.img {
    float: left;
    width: 135px;
    min-height: 150px;
    margin-left: 72px;
}

.information {
    float: left;
    width: 393px;
    min-height: 150px;
}

.evaluation {
    float: right;
    width: 240px;
    min-height: 150px;
    margin-right: 72px;
}

.logo-container {
    position: absolute;
    top: 0;
    left: 605px;
}

.main-footer {
    text-transform: uppercase;
}

.footer-visitsedona {
    float: left;
    width: 270px;
    min-height: 120px;
    margin-right: 60px;
    margin-left: 60px;
}

.footer-social {
    float: left;
    width: 400px;
    min-height: 120px;
}

.footer-copyright {
    float: right;
    width: 300px;
    min-height: 120px;
}

.title-text,
h2 {
    font-size: 21px;
    line-height: 26px;
    color: #333333;
    font-weight: bold;
       
}

.cause {
    font-size: 21px;
    line-height: 21px;    
    font-weight: bold;
}
    

.filter-iteam {
    font-size: 16px;
    line-height: 21px;  
    color: #ffffff;
    font-weight: bold;
    
}

.white {
    color: #ffffff;
}

.darck {
    color: #333333;
}


