html {
   
}

body {
    /*min-height: 2776px;*/
    font-size: 14px;
    line-height: 1.5;
    color: #333333;
    font-weight: normal;
    font-family: "PT Sans Narrow Bold", "Trebuchet MS", Helvetica, sans-serif;  
    margin: 0;
}

.common-container {
    background: #000000 url("../img/sedona-hotels-1200.jpg") no-repeat 50% 0;
    background-size: 1280px auto;
    width: 1200px;
    margin: auto;
}

.main-header {

}

.container-background {
    background: #ffffff url("../img/picture.jpg") no-repeat 50%;
    min-height: 765px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.main-manu {
    background-color: white;
}

ul {
    padding: 0;
    font-size: 0;
}

.main-menu-button {
    display: inline-block;
    width: 239px;
    height: 56px;
    font-size: 14px;
}

.main-menu-button:nth-child(3){
    margin-left: 244px;
}

.logo {
    position: relative;
    top: -56px;
    left: 530px;
}

.form {
    position: relative;
    top: 368px;
}

.title {
    position: relative;
    top: 200px;
    color: black;
    text-align: center;
}

.container {
    font-size: 0;
}

.one {
    font-size: 0;
}

.cause-blue1 {
    float: left;
    width: 400px;
    min-height: 255px;
    font-size: 14px;
}

.illustration1 {
    float: right;
    width: 800px;
}

.cause-iteams {
    font-size: 0;
}

.square {
    display: inline-block;
    width: 400px;
    min-height: 330px;  
}

.cause-2 {
    font-size: 0;
}

.illustration2 {
    float: left;
    width: 800px;
}

.cause-blue2 {
    float: right;
    width: 400px;
    min-height: 255px;
}

.three-four-five {
    font-size: 0;
}

.iteam {
    display: inline-block;
    width: 400px;
    min-height: 255px; 
}

.search-for-hotels {
    font-size: 0;
    height: 765px;
}

.text {
    /*font-size: 14px;*/
    min-height: 205px;
}

.button {
    min-height: 85px;
}

.form-search {
    position: relative;
    top: -470px;
    width: 566px;
    min-height: 395px;
    margin-left: auto;
    margin-right: auto;
    background-color: beige;
}

.filter {
    min-height: 215px;
    background: url(../img/filter.jpg) no-repeat 50%;
}

.infrastructure {
    float: left;
    width: 240px;
    min-height: 215px;
    margin-left: 72px;
}

.housing {
    float: left;
    width: 240px;
    min-height: 215px;
}

.cost {
    float: right;
    width: 328px;
    min-height: 130px;
    margin-right: 72px;
    margin-left: 200px;
}

.show {
    float: right;
    width: 328px;
    min-height: 85px;
    margin-right: 72px;
   
}

.overall {
    min-height: 85px;
}

.iteam-hotel {
    min-height: 150px;
    font-size: 0;
}

.all-results {
    float: left;
    width: 160px;
    min-height: 85px;
    margin-left: 72px;
    margin-top: 0;
    margin-bottom: 0;
}

.sorting {
    float: left;
    width: 448px;
    min-height: 85px;
}

.arrow-up {
    float: right;
    width: 18px;
    min-height: 85px;
}

.arrow-down {
    float: right;
    width: 18px;
    min-height: 85px;
    margin-right: 72px;
}

.img {
    float: left;
    width: 135px;
    min-height: 150px;
    margin-left: 72px;
}

.information {
    float: left;
    width: 393px;
    min-height: 150px;
}

.evaluation {
    float: right;
    width: 240px;
    min-height: 150px;
    margin-right: 72px;
}

.logo-container {
    position: relative;
    top: -806px;
    left: 530px;
    font-size: 0;
}

.footer-visitsedona {
    float: left;
    width: 270px;
    min-height: 120px;
    margin-right: 60px;
    margin-left: 60px;
}

.footer-social {
    float: left;
    width: 400px;
    min-height: 120px;
}

.footer-copyright {
    float: right;
    width: 300px;
    min-height: 120px;
}

.title-text,
h2 {
    font-size: 21px;
    line-height: 26px;
    color: #333333;
    font-weight: bold;
    font-family: "PT Sans Bold", Arial, sans-serif;    
}

.cause {
    font-size: 21px;
    line-height: 21px;    
    font-weight: bold;
    font-family: "PT Sans Bold", Arial, sans-serif;    
}

.filter-iteam {
    font-size: 16px;
    line-height: 21px;  
    color: #ffffff;
    font-weight: bold;
    font-family: "PT Sans Bold", Arial, sans-serif;
}

.white {
    color: #ffffff;
}

.darck {
    color: #333333;
}


